.promo {
  text-align: center;
  background-image: url(../www/images/BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo-inner {
  @include inner;

  @media (max-width: 1279px) {
    width: auto;
    max-width: 1024px;
  }
}

.promo-title {
  text-align: center;
  padding: 200px 0;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;

  color: $color-white;
}

// .btn {
//   text-align: center;
// }
