.promo {
  padding: 50px 0;
  background-color: lightsteelblue;
  border-radius: 10px;
}

.promo-inner {
  margin: 0 auto;
  width: 1024px;

  @media (max-width: 1279px) {
    width: auto;
    max-width: 1024px;
  }
}

.promo-title {
  padding: 200px 0;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  text-align: center;
}

// .btn {
//   text-align: center;
// }
